### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [1]:
numb = round(4.5667, 2)
print(numb)

4.57

2. Convert "657" to an integer data type

In [103]:
num = "657"
print(type(num))
print(num)
converted_type = int(num)
print(converted_type)
print(type(converted_type))

<class 'str'>
657
657
<class 'int'>

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [91]:
import random

number1 = float(input("input a number: "))
number2 = float(input("input another number: "))

numgen = random.uniform(number1, number2)

numgen1 = random.uniform(number1, number2)

numgen2 = random.uniform(number1, number2)

numgen3 = random.uniform(number1, number2)

numgen4 = random.uniform(number1, number2)

numgen5 = random.uniform(number1, number2)

numgen6 = random.uniform(number1, number2)

code6 = (f"{numgen1} {numgen2} {numgen3} {numgen4} {numgen5} {numgen6}")
print(code6.replace(" ","-"))

input a number: 12.3
input another number: 45.5
18.065471204387684-29.677742002355778-39.84934297250497-30.306147601639594-42.93699070805101-44.832343223439125

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [95]:
lyric = "Hickory, dickory, dock,\nThe mouse ran up the clock.\nThe clock struck one,\nThe mouse ran down,\nHickory, dickory, dock"
print(lyric)

Hickory, dickory, dock,
The mouse ran up the clock.
The clock struck one,
The mouse ran down,
Hickory, dickory, dock

In [97]:
print(lyric.strip().replace(" ",""))

Hickory,dickory,dock,
Themouseranuptheclock.
Theclockstruckone,
Themouserandown,
Hickory,dickory,dock

In [31]:
print(lyric)

Hickory, dickory, dock,
The mouse ran up the clock.
The clock struck one,
The mouse ran down,
Hickory, dickory, dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [48]:
def my_function():
    x = float(input("how many miles driven?: "))
    y = float(input("how many gallons used?: "))
    print(round(x/y, 2))
my_function()

how many miles driven?: 45.5
how many gallons used?: 3
15.17

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

In [54]:
def compute():
    x = float(input("circle radius?: "))
    area = (x**2)*3.14
    circumference =  (2*x) * 3.14
    print(area)
    print(circumference)
compute()

circle radius?: 45.4
6472.042399999999
285.112

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [98]:
import random

smiley = random.randrange(1, 100)
face = random.randrange(1, 100)

def multiply_two(x, y):
    print(f" {x}*{y} ={x*y}" )
   
    
multiply_two(smiley, face)

 91*53 =4823

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [101]:
a = int(input("Enter an integer: "))

def mul_table(x):
    print(f"{x} x 1 = {x*1}")
    print(f"{x} x 2 = {x*2}")
    print(f"{x} x 3 = {x*3}")
    print(f"{x} x 5 = {x*5}")
    print(f"{x} x 6 = {x*6}")
    print(f"{x} x 7 = {x*7}")
    print(f"{x} x 8 = {x*8}")
    print(f"{x} x 9 = {x*9}")


mul_table(a)

Enter an integer: 54
54 x 1 = 54
54 x 2 = 108
54 x 3 = 162
54 x 5 = 270
54 x 6 = 324
54 x 7 = 378
54 x 8 = 432
54 x 9 = 486