# Python Review #1

Using what you learned in the modules, answer the questions below. Take your time and use all the information in the modules as your guide and resource. This isn't about memorization - this is about practicing skills! Good Luck!

## Module 1 Review

#### COMMENTS

Comments are not executed with the rest of the code when you run the cell. These are notes that give context to the code.

1. Open any book, document, brochure, email around you. Take the first two sentences you find. Write the two sentences in a cell below. Assign one sentence to a variable name (save it as a string) and make the other sentence a comment. Run the cell. 
2. Switch the sentences (the first sentence is now a comment, the second sentence is now the string) and re-run the cell.

In [1]:
email= print("Thank you for your interest for hitting instruction.")
#I charge $100/45 minutes and offer packs of 5 lessons for $450.

Thank you for your interest for hitting instruction.

In [3]:
#email= print("Thank you for your interest for hitting instruction.")
"I charge $100/45 minutes and offer packs of 5 lessons for $450."

'I charge $100/45 minutes and offer packs of 5 lessons for $450.'

#### DATA TYPES 

There are three data types that we will use continuously - integer, float, string. Each cell below includes one of these three data types. Using a comment, write the type of data in each cell next to the value.

In [ ]:
"Hello" #string

In [ ]:
156 #int

In [ ]:
"W45" #string

In [ ]:
12.567 #float

In [ ]:
"198 Spring Street, San Deigo, CA" #string

In [ ]:
1.87 #float

In [ ]:
0.00000435 #float

In [ ]:
"628" #string

In [ ]:
1.111111114 #float

In [ ]:
4560886543 #int

#### VARIABLES

Variables hold information or a data value. To assign a value to a variable, use a single "=". Variables should be given meaningful names, can start with a letter or underscore (no numbers), and should follow <b>CamelType</b> or <b>snake_type</b> formatting. 

1. Write your birthday in longform (Month Day, Year) and save the value to a variable. Choose an appropriate name. 
2. Write the name of your favorite book. Save the value to a variable. Choose an appropriate name. 
3. Write the number of times you've eaten pizza in the past two weeks (0 can be an answer). Save the value to a variable. Choose an appropriate name. 
4. Write a float value with at least three digits after the decimal point. Save the value to a variable. Choose an appropriate name.
5. Pick two additional sentences from the item referenced in the comments section. Write out the sentences and save them to a variable. Choose an appropriate name.

In [4]:
birthday = "(September, 17, 1993)"
fav_book = "How to change your mind"
pizza_eaten = 0
small_num = .012
location = "I use Allsport Training Center"
payment_methods = "You can pay with cash, Checks, or venmo!"

#### PRINT AND TYPE FUNCTIONS

The print function is crucial to your python knowledge. The print() function allows you to return a specific item, statement, word, number, etc. It is used to return (print, output, etc) information. Using all the variables you created in the step above, print each one in an individual cell. 

The type function allows you to return the type of data saved to a specific variable. Use the type() function to determine the type of data stored to each of your variables.

In [11]:
print(birthday)
type(birthday)

(September, 17, 1993)

str

In [12]:
print(fav_book)
type(fav_book)

How to change your mind

str

In [13]:
print(pizza_eaten)
type(pizza_eaten)

0

int

In [14]:
print(location)
type(location)

I use Allsport Training Center

str

In [15]:
print(payment_methods)
type(payment_methods)

You can pay with cash, Checks, or venmo!

str

#### ARITHMETIC OPERATORS

Arithmetic operators allow you to do simple math with Python. Operators include: 

    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division
    
In the cells below, insert any of the above operators to complete the equation. Print the result of the equation.

In [18]:
9+2

11

In [19]:
189.0/78

2.423076923076923

In [20]:
3 //2

1

In [21]:
3 *8

24

In [22]:
999.0027 -2736.83

-1737.8273

In [23]:
488 %21

5

In [24]:
11 +8

19

In [25]:
45* 9

405

In [26]:
808// 23

35

In [27]:
4% 1

0

In [28]:
0 *28

0

In [29]:
435/ 982

0.4429735234215886

In [30]:
6- 3

3

In [31]:
1 *1.5

1.5

In [32]:
65 %2

1

In [33]:
10* 9

90

In [34]:
245 //3

81

In [36]:
33* 0

0

In [37]:
9 /2

4.5

In [38]:
89+ 78

167

#### COMPOUND OPERATORS

Change the value of a variable and re-assign the new value to the same variable. This method saves you a step; all compound operators follow the same pattern:
    
    variable_a = variable_a + 10 <<<--->>> variable_a += 10
    
variable_a is now equal to the original value of variable_a plus 10. Compound operators include:

    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b
    
Convert all the equations below to use compound operators.

In [40]:
a = 9 // 2
a += 10
print(a)

14

In [41]:
a= 189.0 
a += 78
print(a)

267.0

In [42]:
a= 3 
a-= 2
print(a)

1

In [43]:
a=5 
a+= 1
print(a)

6

In [44]:
a=8 
a*= 0
print(a)

0

In [45]:
a=4 
a %= 1
print(a)

0

In [46]:
a=5 
a//= 2
print(a)

2

In [47]:
a=6 
a/= 3
print(a)

2.0

In [48]:
a=9 
a*= 2
print(a)

18

In [49]:
a=10 
a-= 1
print(a)

9

In [50]:
a=5 
a**= 4
print(a)

625

In [51]:
a=8 
a-= 2
print(a)

6

In [52]:
a=10 
a+ 2
print(a)

10

In [53]:
a=11 
a*= 1.7
print(a)

18.7

In [54]:
a=9 
a-= 3
print(a)

6

In [55]:
 a=7 
a**= 4
print(a)

2401

In [57]:
a=11 
a%=2
print(a)

1

In [58]:
a=8 
a/= 4
print(a)

2.0

In [59]:
a=5 
a*= 5
print(a)

25

In [61]:
a=7 
a%= 5
print(a)

2

In [63]:
a=8 
a**= 5
print(a)

32768

In [64]:
a=12 
a//= 3
print(a)

4

#### ESCAPE CHARACTERS

An escape character allows you to include special characters in a string that would otherwise return an error. To use escape characters, add a backslash (\) before the character you want to escape:

    " \ " use a single backslash to add apostrophe's in strings 
    " \n " use to insert new lines in your strings
    " \t " use to insert tab spaces into your strings
    
Fix the code below to insert the correct escape character into the string.

In [65]:
print('Hello, what\'s up?')

Hello, what's up?

In [67]:
print("Hello, \nI wish the first hello was on its own line!")

Hello,
I wish the first hello was on its own line!

In [68]:
print("Hello \t I wish there was a long space after the first Hello.")

Hello 	 I wish there was a long space after the first Hello.

#### FORMATTED STRINGS PT 1

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    {}  : a place holder

The placeholder is used to insert the value of a specific variable into the string. All you need to do is insert the name of the variable and whatever value is assigned to that variable will show up when you print the statement. Complete the code in the cells below to print out the proper formatted strings.

In [69]:
x = "Jasmine"

## complete the code below to print the statement "Hello, [name]!"

print(f"{x}")

Jasmine

In [70]:
x = "Cat"

## complete the code below to print the statement "My favorite animal is a Cat"

print(f"My favorite animal is a {x}")

My favorite animal is a Cat

In [72]:
x = "Hank"

## complete the code below to print the statement "My favorite actor is Tom Hanks"

print(f"My favorite actor is Tom {x}s")

My favorite actor is Tom Hanks

In [83]:
a = "Black"
b = "White"

## complete the code below to print the statement "Let's play chess, which color do you want to be? Black or White?"

print(f"Let\'s play chess, which color do you want to be? {a} or {b}?")

Let's play chess, which color do you want to be? Black or White?

In [85]:
a = "Paris"
b = "Dublin"
c = "Bristol"

## complete the code below to print the statement "The three cities I visited during my vacation were Paris, Bristol, and Dublin."

print(f"The three cities I visited during my vacation were {a}, {c}, {b}.")

The three cities I visited during my vacation were Paris, Bristol, Dublin.

#### FORMATTED STRINGS PT 2

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

The numeric formatting options allow you to return a number with a specific format. Typically, this includes adding a comma in the thousands place and truncating the amount of digits found after a decimal point. Complete the following questions in the cells below:

1. Print the following number with commas and 1 number after the decimal: 49792862.39231
2. Print the following number with commas and 3 number after the decimal: 3999876.009
3. Print the following number as a percentage with 2 numbers after the decimal: .03974
4. Print the following number with commas: 1000000000000000000
5. Write the code to produce this output: 7, 890.00
6. Write the code to product this output: 567.00045
7. Print the following number with commas and no numbers after the decimal: 3450000

In [110]:
x = 49792862.39231
print(f' {x: ,.1f}')

  49,792,862.4

In [111]:
y = 3999876.009
print(f' {y: ,.3f}')

  3,999,876.009

In [121]:
z = .03974
print(f' {z: .2%}')

  3.97%

In [122]:
a = 1000000000000000000
print(f' {a: ,}')

  1,000,000,000,000,000,000

In [123]:
num =7890
print(f' {num: ,.2f}')

  7,890.00

In [318]:
numbie = 567.00045
print(f'{numbie: .5f}')

 567.00045

In [124]:
geez= 3450000
print(f' {geez: ,}')

  3,450,000

#### INPUT FUNCTION 

The input function directly asks the user (you) for information. 

    input(tell the user what you want them to do!)
    
1. Use the input() function to find a users name
2. Use the input() function to find a users address
3. Use the input() function to find a users phone number
4. Use the input() function to find a users age
5. Using a formatted string, put all this information together and print a statement using what you learned about the user.

In [137]:
## i'll get you started...

name = input("What is your name?: ")
address = input("What is your address?: ")
phone_number = input("What is your phone number?: ")
age = int(input("What is your age in years?: "))
print(f'My friend\'s name is {name}, their address is {address}, their phone number is {phone_number}, and they are {age} years old!')

What is your name?: tim
What is your address?: 46 blake lane
What is your phone number?: 703-869-8834
What is your age in years?: 42
My friend's name is tim, their address is 46 blake lane, their phone number is 703-869-8834, and they are 42 years old!

#### DATA TYPE CONVERSION FUNCTIONS

You can convert data to various types using three built-in functions. 
* the int() function turns a value into an integer
* the float() function turns a value into a float
* the str() function turns a value into a string

Complete the code below to make the necessary changes.

In [138]:
x = "187"

### convert x into a float value
float(x)

187.0

In [139]:
y = 123.56

### convert y into a string value
str(y)

'123.56'

In [141]:
z = 99

### convert z into a float value 

float(z)

99.0

# { Module 1 Quiz }

1. Print out your favorite snack and write a comment about what you are doing in the code. 
2. Print the sum of the following values: 3, 56, 21, 11, 7, 0, 5
3. Print the remainder of the values 435 and 6
4. Create a variable called 'eye color' and store your eye color to the variable. Print a sentence describing your eye color and using the variable in the sentence. 
5. Write a code to get two integers from a user. Print out their sum.

In [142]:
snack = input("what is your favorite snack? :")
print(snack)
#I am asking for input and printing the output

what is your favorite snack? :doritos
doritos

In [144]:
numbers = [3, 56, 21, 11, 7, 0, 5]
print(sum(numbers))

#I created a list called numbers and printed the sum of numbers

103

In [145]:
x = 435 % 6
print(x)
#I use modulo math

3

In [151]:
eye_color = "brown" #make sure you make the variable a string!
print(f'My eyes are {eye_color}...pretty boring when you think about it.')
#formatting strings are cool

My eyes are brown...pretty boring when you think about it.

In [149]:
numb1 = int(input("gimmie an integer: "))
numb2 = int(input("gimmie another integer: "))

print(numb1 + numb2)

#I ask for input then print the sum

gimmie an integer: 12
gimmie another integer: 14
26

## Module 2 Review

#### IMPORTING LIBRARIES

A library is a specific collection of python functions. You can use these functions by first importing the library into your notebook. Once you import your library, you can give it a nickname. The nickname is optional, but it makes it easier to use (or reference) the library throughout your code. 

    import [ library name ]
    
Importing a library and assigning a nickname:

    import [ library name ] as [ nickname ]
    
Import the library "random" and nickname it "rd".

In [158]:
import random as rd

#### RANDOM NUMBER GENERATOR

The random library contains a function that allows you to generate a random number. This library has two functions that are useful:

    .random() : this will generate a random number 
    .randint() : this will generate a random integer within a specific range
    
When you want to use the function, you first have to reference the name of your library (or it's nickname) and then attach the function to the end of the library name. For example:

    rd.random()
    rd.randint() 
    rd.randint(0, 10) >>> this code will generate a random number between 0 and 10 

1. Generate a random number
2. Generate a random integer
3. Generate a random integer between 1 and 100
4. Generate a random integer between -10 and 10

In [162]:
x = rd.random()
print(x)

0.28417361262402707

In [212]:
rd.random()

0.9326095116634879

In [214]:
rd.randint()

TypeError: randint() missing 2 required positional arguments: 'a' and 'b'

In [213]:
print(rd.randint(1, 101))

53

In [166]:
print(rd.randint(-10, 11))

-9

#### LEN FUNCTION

The len() function returns the length of a given value. This includes the length of a string, the amount of characters is a sentence (which also counts white spaces), the number of items in a list, etc. Complete the code below to determine the length of the following items. Before you run the code, try to guess what the length value is going to be.

In [180]:
### what is the length of the following string:

len("Hello")

5

In [181]:
### what is the length of the following string:

len("123ABC")

6

In [182]:
### what is the length of the following string:

len("Hello, how are you doing today?")

31

In [183]:
### what is the length of the following string:

len("Hello, it's really nice to meet you! I hope you're well!")

56

In [184]:
### what is the length of the following string:

len(" ")

1

#### STRING METHODS

There are several functions that are used specifically with strings. The most important functions to remember are:
    
<b> Change the Case </b>
    
    .title() >> change a string to title case
    .upper() >> change a string to upper case
    .lower() >> change a string to lower case
    
<b> Remove White Spaces from a String </b>

    .strip() >> strip white spaces from both ends of a string
    .rstrip() >> remove white spaces from the right-side of a string
    .lstrip() >> remove white spaces from the left-side of a string
    
<b> Replace a value in a String with another value</b>

    .replace() >> replace a specific character with another character
    .replace([what you want to replace], [what to replace it with])
    
Complete the code below to practice the above string methods.

In [185]:
name = "gEOrGe washINGtoN"
name.title()
## change the above string to title case

'George Washington'

In [186]:
yelling = "HELLO WHAT ARE YOU DOING!"
yelling.lower()
## change the above string to lowercase

'hello what are you doing!'

In [187]:
book = "the great gatsby"
book.title()
## change the above string to title case

'The Great Gatsby'

In [188]:
city = "nEW york"
city.upper()
## change the above string to uppercase

'NEW YORK'

In [190]:
quote = "        Not all those who wander are lost.         "
quote.strip()
## strip the above string of white space on each side

'Not all those who wander are lost.'

In [191]:
quote = "        Not all those who wander are lost.         "
quote.lstrip()
## strip the above string of white spaces on the left side

'Not all those who wander are lost.         '

In [192]:
quote = "        Not all those who wander are lost.         "
quote.rstrip()
## strip the above string of white spaces on the right side

'        Not all those who wander are lost.'

speech = "4 score and seven years ago..."
speech.replace("4", "Four")
## in the above string, replace the value of "4" with the word "four"

In [196]:
speech = "4 score and seven years ago..."
speech.replace("4", "Four")
## in the above string, replace the value of "4" with the word "four"

'Four score and seven years ago...'

In [195]:
speech = "Four score and seven years ago..."
speech.replace("Four", "4")
## in the above string, replace the word of "seven" with the value "7"

'4 score and seven years ago...'

In [197]:
speech = "Four score and seven years ago..."
speech.replace("...", ".")
## in the above string, replace the "..." with a single period

'Four score and seven years ago.'

#### INDEXING A STRING

Strings are ordered sequences of characters and each character has a number associated with it. 

Indexing allows you to access individual characters in a string (or other ordered data types like a list) directly by using a numeric value, that numeric value is associated with a character/position in the string. 

In python, indexing is zero-based, meaning, the first character in the string has an index of 0, followed by 1, then 2, etc. See below for an example of how index values are associated with a string:

    H[0]e[1]l[2]l[3]o[4]![5]
    
index value of 0 returns the character "H"
index value of 1 returns the character "e"
index value of 2 returns the character "l"
index value of 3 returns the character "l"
index value of 4 returns the character "o"
index value of 5 returns the character "!"

Complete the code below to practice indexing a specific string.

In [198]:
## run this cell to define the variable 'words'
## determine the length (how many characters) of the passage 

words = "To be, or not to be, that is the question..."

len(words)

44

In [199]:
## index the variable 'words'
# what character is in position 0?

words[0]

'T'

In [200]:
## index the variable 'words'
# what character is in position 15?
words[14]

't'

In [201]:
## index the variable 'words'
# what character is in position 9?
words[8]

'r'

In [202]:
## index the variable 'words'
# what character is in position 39?
words[38]

'i'

#### CUSTOMIZED FUNCTIONS 

Python allows you to create your own unique functions. This gives you a lot of flexibility on the tasks you can automate within your code. You can create a function to do practically anything -- print a single value, add two numbers together, remove white spaces from a string, etc. 

* A custom function begins with the keyword <b>def</b> and followed by a function name (of your choice). 
* The function may take argument(s) as input within the opening and closing parentheses, just after the function name and following by a colon. 
* After defining the function name and argument(s) a block of program statement(s) start on the next line and these statement(s) must be indented. Please note, adding arguments within the parentheses is optional!

When you are defining a function, follow these steps:

     def function_name(argument1, argument2, ...) :
          statement_1
          statement_2

Complete the code below to define a series of functions.

In [203]:
# EXAMPLE #
## define a function that takes one number and prints the number

def print_num(num):
    print(num)

## call the function
## this function takes one argument, so you have to give the function info

print_num(10)

10

In [204]:
# EXAMPLE #
## define a function that generates one number and prints the number

def print_num_b():
    num = int(input("Enter a number: "))
    print(num)

## call the function
## this function takes no arguments, therefore, we can call the function without giving information first

print_num_b()

Enter a number: 45
45

In [208]:
## define a function that takes two numbers and adds them together

def print_nums(num1, num2):
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)

## call the function below
## this function takes two arguments, so you have to give the function info

In [210]:
## define a function that generates two numbers and adds them together

def print_nums_b():
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)
print_nums_b()
## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

Enter a number: 45
Enter another number: 23
68

In [216]:
## define a function that takes a string and changes the case to uppercase

def uppercased(x):
    x = input("give me a string!: ")
    x = x.upper()
    print(x)
uppercased(x) 
## call the function below
## this function takes one argument, so you have to give the function info

give me a string!: hellooooooo
HELLOOOOOOO

In [219]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi(x, y):
    num1 = float(input("gimmie a number: "))
    num2 = float(input("gimmie another number: "))
    print(num1 * num2)
multi(x, y)    
## call the function below
## this function takes two arguments, so you have to give the function info

gimmie a number: 34.5
gimmie another number: 23.3
803.85

In [ ]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi_b():
    x = int(input("Enter a number: ")) 
    y = int(input("Enter another number: "))
    print(x * y)

## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

# { Module 2 Quiz }

1. Convert "890" to an integer data type
2. Get two numbers from a user. Use these two numbers as the starting and ending number when generating a random integer. Run the code to produce a random integer within this range.
3. Remove the whitespaces from the ends of the following string: "   What is your name   ?"
4. After you remove the whitespaces from the above string, index the string to find the character in position 3.
5. Define a function that asks a user for three numbers. Add the first two numbers together. Then, multiply the sum of the first two numbers with the third number. After you define the function, use it!

In [220]:
x = "890"
int(x)

890

In [221]:
import random as rand

x = int(input("Enter a number: ")) 
y = int(input("Enter another number: "))

print(rand.randint(x, y))

Enter a number: 45
Enter another number: 65
50

## Module 3 Review

#### COMPARISON AND BOOLEAN OPERATORS

Comparison operators compare two values to each other and return a result based on that comparison (either true or false). The comparison operators you have available are as follows:

    == : equal to
    != : not equal to
    >  : greater than
    <  : less than
    >= : greater than or equal to
    <= : less than or equal to
    
For example, x = 10 and y = 14, see below for the following comparison results:

       x == y >> FALSE
       x != y >> TRUE
       x > y >> FALSE
       x < y >> TRUE
       x >= y >> FALSE
       x <= y >> TRUE
    
1. Create 5 conditions that produce a FALSE result
2. Create 5 conditions that produce a TRUE result

In [227]:
3==4
4>5
6<5
4
1!=1
4<=2

False

In [230]:
3==3
5>4
3 != 4
50<=51
10<11

True

#### CONDITIONAL STATEMENTS

Conditional statements check a statement for truth and executes a specific task depending on if the statement is true or false. Conditional statements include:

    IF >> if 
    ELSE >> else
    ELIF >> else if

#### IF STATEMENTS

The IF statement checks a statement for truth, if the statement is true a specific task will be executed

1. Run the code in the first example
2. Create your own IF statement that prints a number if it is higher than 100
3. Create an IF statement that adds 10 to a number if it is higher than 100; print the sum of the two numbers.

In [231]:
## EXAMPLE

age = 28

if age > 18:
    print("You are older than 18.")

You are older than 18.

In [233]:
x = int(input("gimmie a number: "))

if x > 100:
    print(x)

gimmie a number: 101
101

In [235]:
x = int(input("gimmie a number: "))

if x > 100:
    x+=10
    print(x)

gimmie a number: 101
111

#### IF/ELSE STATEMENTS

The IF/ELSE statements (when used together), checks a statement for truth - if the statement is true, the task underneath the IF statement will execute. If the statement if false, the task underneath the ELSE statement will execute.

1. Run the code in the first example
2. Create your own IF/ELSE statement that prints a number if it is higher than 100; if it is lower than 100, print "Low Number". 
3. Create an IF/ELSE statement that adds 10 to a number if it is higher than 100; if it isn't higher than 100, add 100 to the number. Print the sum of the two numbers.

In [236]:
## EXAMPLE

age = 8

if age > 18:
    print("You are older than 18.")
else:
    print("You are younger than 18.")

You are younger than 18.

In [238]:
x = 8

if x > 100:
    print(x)
else:
    print("Low Number")

Low Number

In [241]:
x = 500

if x > 100:
    print(x+10)  
else:
    print(x+100)

510

#### ELIF STATEMENTS

The ELIF statement is short for "ELSE IF" and is a combination of the above statements. ELIF checks another statement for truth (after the initial IF statement) -- if the statement if true, the tasks underneath the ELIF statement will execute. 

1. Run the code in the first example
2. Create your own IF/ELIF/ELSE statement that prints a number if it is higher than 100; if the value is equal to 100 - print "100". If both statements are false, print "less than 100").
3. Create an IF/ELIF/ELSE statement that adds 10 to a number if it is higher than 100; if the number is greater than 50 -- add 20 to the number. If none of the above are true, add 100 to the number. Print the sum of the two numbers.

In [242]:
## EXAMPLE

age = 18

if age > 18:
    print("You are older than 18.")
elif age == 18:
    print("You ARE currently 18!")
else:
    print("You are younger than 18.")

You ARE currently 18!

In [244]:
x = 500

if x > 100:
    print(x)
elif x == 100:
    print("100")  
else:
    print("less than 100")

500

In [246]:
x = 20

if x > 100:
    print(x+10)
elif x > 50:
    print(x+20)  
else:
    print(x+100)

120

#### LISTS

Lists are a unique data type within Python. Lists are ordered and changeable -- which means you can index a list and you can add/remove values from a list. A list is a collection of values all saved together into a single variable. Lists can contain multiple data types within a single list. All values within a list are separated by a comma. Lists are defined by square brackets. 

    list_name = [value1, value2, value3...]
    
Complete the code below to define a series of lists.

In [251]:
## add two values to the following list of flowers
# print the list

flowers = ["Rose", "Lily", "Poppy", "coneflower", "coreopsis"]

In [252]:
## fix the code below to define a list of names
# print the list

names = ["Jack", "Max", "Leo", "Harper", "Sam"]

In [253]:
## use the space below to create a blank list
# print the list to make sure its blank
blnk_lst = []
print(blnk_lst)

[]

#### LIST INDEXING AND SLICING

Indexing a list works similarly to indexing a list - you are specifically asking to see the value within a specific location. A list index is still zero-based. See below for a list of colors. Next to each color is the index value.

    colors = [red-0, yellow-1, blue-2]

To index, you will state the name of your list and then within square brackets, specify the location you want to see. 

    colors[0] >> "red-0"
    colors[1] >> "yellow-1"
    colors[2] >> "blue-2"
    
Slicing a list returns a specific segment of the list instead of just returning a specific value in a specific index position. Slicing will return all the values of a list from a starting index location up to (<b>but not including</b>) an ending index location. Slicing uses square brackets and follows the pattern below:

    list_name[starting point : ending point]
    
Slicing will literally give you a slice of the list. See below for an example using the colors list. 

    colors[0:2] >> red-0, yellow-1
    colors[0:3] >> red-0, yellow-1, blue-2
    
1. Create a list of objects you find around your house. Have at least 6 values in the list. Print the list. 
2. What value is at position 4 in your list?
3. What value is at position 0 in your list?
4. Slice your list so you return all values except for the last two.

In [254]:
objs = ["bobblehead", "lamp", "mail", "robe", "pillow", "pen"]

In [255]:
objs[3]

'robe'

In [256]:
objs[0]

'bobblehead'

In [258]:
objs[0:4]

['bobblehead', 'lamp', 'mail', 'robe']

#### ADDING VALUES TO A LIST

Lists are changeable, which means you can add values to a list after you have defined the list initially. 

The .append() function will add a single value to the end of your list. This function can only add one value at a time, and it will always attach to the end. To use the function, see an example below:

    list_name.append( new_item_to_add )
    
    colors.append("green-3")
    
The .insert() function will add a single value to a specific index-position within your list. Unlike the append function, this means the item your adding won't automatically be attached to the end. To use the function, see an example below:

    list_name.insert( index-position, new_item_to_add )
    
    colors.insert(0, "green-3")

The .extend() function allows you to add multiple values to a list at one time. This is the function to use if you don't want to add values one by one. To use the function, you first have to create a separate list of the values you want to add. Then, you will use the .extend() function to add all the values on the list onto the end of the existing list. See below for an example:

    new_list = ["new_value1", "new_value2", "new_value3"...]
    list_name.extend( new_list )
    
    
    new_colors = ["green-3", "purple-4"]
    colors.extend(new_colors)
    
1. Create a list of shapes below. This list should have at least 3 values. Print the list. 
2. Use the append function to add a shape to your list. Print the list.
3. Use the insert function to add a shape to your list. This shape should be inserted in index position 2. Print the list.
4. Use the extend function to add 3 additional shapes to your list. Print the list.

In [268]:
shapes = ["circle", "square", "pentagon"]
print(shapes)
shapes.append("hexagon")
print(shapes)
shapes.insert(2, "star")
print(shapes)
new_shapes = ["octogon", "septagon", "dodecahedron"]

shapes.extend(new_shapes)
print(shapes)

['circle', 'square', 'pentagon']
['circle', 'square', 'pentagon', 'hexagon']
['circle', 'square', 'star', 'pentagon', 'hexagon']
['circle', 'square', 'star', 'pentagon', 'hexagon', 'octogon', 'septagon', 'dodecahedron']

# { Module 3 Quiz }

1. Create 3 conditions that produce a false result. Create 3 conditions that produce a true result.
2. Ask the user for a specific color and store the value into a variable. If the color is Blue, print "Blue is a calming color". If the color is Red, print "Red is a fiery color". Otherwise, print "All colors are beautiful".
3. Create a list of 5 fictional characters. Print the list. 
4. Ask the user for a specific number between 1 and 10. If the number is less than 3, print 'low value'. If the number is greater than 7, print 'high number'. Otherwise, print 'thank you'.
5. Create a function that determines if a student passed or failed a test. Ask the user for their test score, if the value is below 70, print 'You failed'. If the value is 70 or above, print 'You passed'. If the value is above 100 or below 0, print 'Please enter a valid number'.

In [273]:
4>5
4==5
5!=5

False

In [275]:
1==1
1<10
50 >= 47

True

In [279]:
color = input("gimmie a color: ")

if color == "Blue" or color == "blue":
    print("Blue is a charming color")
elif color == "Red" or color == "red":
    print("Red is a fiery color")
else:
    print("all colors are beautiful")

gimmie a color: red
Red is a fiery color

In [281]:
fic_chars = ["spongebob", "samurai jack", "mojojojo", "homer", "mordecai"]
print(fic_chars)

['spongebob', 'samurai jack', 'mojojojo', 'homer', 'mordecai']

In [283]:
x = int(input("gimmie a number between 1 and 10: "))

if x > 7:
    print("high number")
elif x <3:
    print("low number")  
else:
    print("thank you")

gimmie a number between 1 and 10: 10
high number

In [287]:
score = int(input("what score did you get on your test?: "))

def grade():
    if score >100:
        print("please enter a valid number")
    elif score > 70:
        print("you passed!")
    elif score > 0:
        print("you failed")
    else:
        print("enter a valid number")
grade()

what score did you get on your test?: -6
enter a valid number

## Advanced Review

Complete the exercises below. These exercises cover topics from all the modules covered in the class thus far, not just the items reviewed in this notebook. Each exercise should be completed in its own cell (or multiple cells). 

*****************************

1.	Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.
2.	Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.
3.	Take a list and write a program that prints out all the elements of the list that are less than 5. BONUS: Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.
4.	Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. BONUS: Keep the game going until the user types “exit”
5.	Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and makes a new list of only the first and last elements of the given list.
6.	Write a password generator in Python. Be creative with how you generate passwords - strong passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. The passwords should be random, generating a new password every time the user asks for a new password.

In [288]:
name = input("gimmie your name: ")
age = int(input("how many years are you?: "))

print(f'{name} will turn 100 years old in {100-age} years!')

gimmie your name: cal
how many years are you?: 20
cal will turn 100 years old in 80 years!

In [292]:
numb = int(input("gimmie a number: "))
if numb % 2 ==0:
    print("EVEN")
else:
    print("ODD")

gimmie a number: 21
ODD

In [297]:
numbs= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst =[]
for num in numbs:
    if num <5:
        new_lst.append(num)
print(new_lst)

[1, 2, 3, 4]

In [305]:
import random as rand

num = rand.randint(1, 10)

guess = int(input(" guess a number between 1 and 9: "))

if guess > num:
    print("too high")
elif guess == num:
    print("CORRECT")
else:
    print("too low")
print(f' the actual number was {num}')

 guess a number between 1 and 9: 5
too low
 the actual number was 6

In [314]:
lst= [1,2,3,4,5,6,7,8,9]

print(lst[0::len(lst)-1])

[1, 9]

In [331]:
import random as rand

lns = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "z""a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "&", "^", "!", "@", "#", "%", "$"]


password = []

for i in range(rand.randrange(8,16)):
    
    password.append(rand.choice(lns))
    
    
print(password)
print("".join(password))

['v', 'U', 'I', 'za', 's', '3', 'Y', 'E', '!', 'j']
vUIzas3YE!j